# Modern browsers
last 2 versions
not dead
> 0.2%

# Specific browser versions
Chrome >= 60
Firefox >= 60
Safari >= 12
Edge >= 79
iOS >= 12
Android >= 6

# Exclude IE
not IE 11
not IE 10
not IE 9
not IE 8 